__pycache__
*/.pyc
*.prof
*/setup.txt
*/setup.toml
*.egg-info/
*/SOURCES.txt

**/library/**
**/configs/*
**/forces/*
**/books/*
**/lookup_tables/*
**/books_compressed/*
**temp_multi_threaded_files


**/target/*
**/debug/*
**release/*
**/optimization_files/**

/env
*.env
*.DS_Store
*.toml
# ...but the Rust optimizer manifest MUST be tracked: without it a fresh clone
# cannot build optimization_program and the math will not run.
!optimization_program/Cargo.toml

**/site/*

